/.classpath
/.project
/ArgoUML-*.tar.gz
/ArgoUML-*.tgz
/ArgoUML-*.zip
/CVS
/Eclipse
/IDE
/\#
/\#
/\#
/also
/and
/are
/argouml.log
/by
/ignore
/one
/should
src_new/build.properties
src_new/org/argouml/ui/*.class
/this
/used
!/\#
/.checkclipse
/CheckClipse
/\#
/\#
/\#
/\#
/is
/plugin
/the
/to
!/\#
/.classpath.full
/\#
/\#
/\#
/\#
/\#
/\#
/all
/alternate
/modules
src_new/*.log
src_new/junit*.properties
src_new/test.zargo
/with
