* text=auto !eol
argouml-core-propertypanels-scratch/.classpath -text
argouml-core-propertypanels-scratch/.project -text
argouml-core-propertypanels-scratch/.settings/de.mvmsoft.checkclipse.prefs -text
argouml-core-propertypanels-scratch/ArgoUML[!!-~]XML[!!-~]Property[!!-~]Panels.launch -text
