* text=auto !eol
src_new/org/argouml/Images/ActionState.gif -text
src_new/org/argouml/Images/Activity.gif -text
src_new/org/argouml/Images/ActivityDiagram.gif -text
src_new/org/argouml/Images/Actor.gif -text
src_new/org/argouml/Images/AddAttribute.gif -text
src_new/org/argouml/Images/AddInternalTransition.gif -text
src_new/org/argouml/Images/AddMessage.gif -text
src_new/org/argouml/Images/AddOperation.gif -text
src_new/org/argouml/Images/Association.gif -text
src_new/org/argouml/Images/AssociationEnd.gif -text
src_new/org/argouml/Images/AssociationInverse.gif -text
src_new/org/argouml/Images/AssociationRole.gif -text
src_new/org/argouml/Images/Asynchronous.gif -text
src_new/org/argouml/Images/Attribute.gif -text
src_new/org/argouml/Images/Branch.gif -text
src_new/org/argouml/Images/Class.gif -text
src_new/org/argouml/Images/ClassDiagram.gif -text
src_new/org/argouml/Images/ClassifierRole.gif -text
src_new/org/argouml/Images/Collaboration.gif -text
src_new/org/argouml/Images/CollaborationDiagram.gif -text
src_new/org/argouml/Images/Communication.gif -text
src_new/org/argouml/Images/Component.gif -text
src_new/org/argouml/Images/ComponentInstance.gif -text
src_new/org/argouml/Images/CompositeAggregation.gif -text
src_new/org/argouml/Images/CompositeState.gif -text
src_new/org/argouml/Images/DataType.gif -text
src_new/org/argouml/Images/Decision.gif -text
src_new/org/argouml/Images/DeepHistory.gif -text
src_new/org/argouml/Images/Dependency.gif -text
src_new/org/argouml/Images/DeploymentDiagram.gif -text
src_new/org/argouml/Images/DistributeHorizontalCenters.gif -text
src_new/org/argouml/Images/DistributeHorizontalSpacing.gif -text
src_new/org/argouml/Images/DistributeVerticalCenters.gif -text
src_new/org/argouml/Images/DistributeVerticalSpacing.gif -text
src_new/org/argouml/Images/Extends.gif -text
src_new/org/argouml/Images/Favorites.gif -text
src_new/org/argouml/Images/FinalState.gif -text
src_new/org/argouml/Images/Find.gif -text
src_new/org/argouml/Images/FixItBack.gif -text
src_new/org/argouml/Images/FixItFinish.gif -text
src_new/org/argouml/Images/FixItNext.gif -text
src_new/org/argouml/Images/Flat.gif -text
src_new/org/argouml/Images/Fork.gif -text
src_new/org/argouml/Images/Generalization.gif -text
src_new/org/argouml/Images/Guard.gif -text
src_new/org/argouml/Images/Hierarchical.gif -text
src_new/org/argouml/Images/Hush.gif -text
src_new/org/argouml/Images/HushCritic.gif -text
src_new/org/argouml/Images/Inheritance.gif -text
src_new/org/argouml/Images/InheritanceInverse.gif -text
src_new/org/argouml/Images/Initial.gif -text
src_new/org/argouml/Images/InputOutput.gif -text
src_new/org/argouml/Images/Instance.gif -text
src_new/org/argouml/Images/Interface.gif -text
src_new/org/argouml/Images/InternalTransition.gif -text
src_new/org/argouml/Images/Join.gif -text
src_new/org/argouml/Images/Link.gif -text
src_new/org/argouml/Images/Message.gif -text
src_new/org/argouml/Images/Model.gif -text
src_new/org/argouml/Images/Multtrigger.gif -text
src_new/org/argouml/Images/NavConfig.gif -text
src_new/org/argouml/Images/NavigateBack.gif -text
src_new/org/argouml/Images/NavigateForward.gif -text
src_new/org/argouml/Images/NewPerspective.gif -text
src_new/org/argouml/Images/NewToDoItem.gif -text
src_new/org/argouml/Images/Node.gif -text
src_new/org/argouml/Images/NodeInstance.gif -text
src_new/org/argouml/Images/NodeOne.gif -text
src_new/org/argouml/Images/NodeTwo.gif -text
src_new/org/argouml/Images/Note.gif -text
src_new/org/argouml/Images/NudgeDown.gif -text
src_new/org/argouml/Images/NudgeLeft.gif -text
src_new/org/argouml/Images/NudgeRight.gif -text
src_new/org/argouml/Images/NudgeUp.gif -text
src_new/org/argouml/Images/ObjDelete.gif -text
src_new/org/argouml/Images/Object.gif -text
src_new/org/argouml/Images/OpenProject.gif -text
src_new/org/argouml/Images/Operation.gif -text
src_new/org/argouml/Images/Package.gif -text
src_new/org/argouml/Images/ParallelTransition.gif -text
src_new/org/argouml/Images/Parameter.gif -text
src_new/org/argouml/Images/Pattern.gif -text
src_new/org/argouml/Images/PostIt0.gif -text
src_new/org/argouml/Images/PostIt100.gif -text
src_new/org/argouml/Images/PostIt25.gif -text
src_new/org/argouml/Images/PostIt50.gif -text
src_new/org/argouml/Images/PostIt75.gif -text
src_new/org/argouml/Images/PostIt99.gif -text
src_new/org/argouml/Images/PostItMulti.gif -text
src_new/org/argouml/Images/Project.gif -text
src_new/org/argouml/Images/Realization.gif -text
src_new/org/argouml/Images/Recursion.gif -text
src_new/org/argouml/Images/Refinement.gif -text
src_new/org/argouml/Images/ResolveItem.gif -text
src_new/org/argouml/Images/RetMessage.gif -text
src_new/org/argouml/Images/SaveProject.gif -text
src_new/org/argouml/Images/Self_del.gif -text
src_new/org/argouml/Images/SendEmailToExpert.gif -text
src_new/org/argouml/Images/ShallowHistory.gif -text
src_new/org/argouml/Images/SignalReceiving.gif -text
src_new/org/argouml/Images/SignalSending.gif -text
src_new/org/argouml/Images/SnoozeCritic.gif -text
src_new/org/argouml/Images/Splash.gif -text
src_new/org/argouml/Images/Spline.gif -text
src_new/org/argouml/Images/Start.gif -text
src_new/org/argouml/Images/State.gif -text
src_new/org/argouml/Images/StateDiagram.gif -text
src_new/org/argouml/Images/StateMachine.gif -text
src_new/org/argouml/Images/Synchronous.gif -text
src_new/org/argouml/Images/Text.gif -text
src_new/org/argouml/Images/ToBack.gif -text
src_new/org/argouml/Images/ToFront.gif -text
src_new/org/argouml/Images/Trace.gif -text
src_new/org/argouml/Images/Transition.gif -text
src_new/org/argouml/Images/Trigger.gif -text
src_new/org/argouml/Images/UseCase.gif -text
src_new/org/argouml/Images/UseCaseDiagram.gif -text
src_new/org/argouml/Images/Uses.gif -text
src_new/org/argouml/Images/Wiz.gif -text
