/.classpath
/.project
/ArgoUML-*.tar.gz
/ArgoUML-*.tgz
/ArgoUML-*.zip
/CVS
/Eclipse
/IDE
/\#
/\#
/\#
/\#
/also
/and
/are
/argouml.log
/by
/ignore
/one
/should
src_new/build.properties
src_new/org/argouml/uml/*.class
src_new/org/argouml/uml/diagram/*.class
src_new/org/argouml/uml/diagram/use_case/*.class
src_new/org/argouml/uml/diagram/use_case/ui/*.class
/this
/used
