/.classpath
/.project
/ArgoUML-*.tar.gz
/ArgoUML-*.tgz
/ArgoUML-*.zip
/CVS
/Eclipse
/IDE
/\#
/\#
/\#
/also
/and
/are
/argouml.log
/by
documentation/build.properties
documentation/cookbook/*.hs
documentation/cookbook/*.jhm
documentation/cookbook/cookbook.xml
documentation/docbook-setup/*.zip
documentation/docbook-setup/docbook-xsl-1.60.1
documentation/faq/*.hs
documentation/faq/*.jhm
documentation/faq/*.xml
documentation/local-*.bat
documentation/local-*.sh
documentation/manual/*.hs
documentation/manual/*.jhm
documentation/manual/argomanual.xml
documentation/manual/images
documentation/manual/imglist.txt
documentation/quick-guide/*.hs
documentation/quick-guide/*.jhm
documentation/quick-guide/*.xml
documentation/quick-guide/quickguide.xml
/ignore
lib/*-src-*.jar
lib/*-src-*.zip
lib/*-src.jar
lib/*-src.zip
/one
/should
/this
tools/lib/jimi-1.0.jar
/used
!/\#
/.checkclipse
/CheckClipse
/\#
/\#
/\#
/\#
/is
/plugin
/the
/to
!/\#
/.classpath.full
/\#
/\#
/\#
/\#
/\#
/\#
/all
/alternate
/modules
/with
