* text=auto !eol
b00__1/model-euml/.classpath -text
b00__1/model-euml/.project -text
b00__1/model-euml/.settings/org.eclipse.jdt.core.prefs -text
b00__1/model-euml/.settings/org.eclipse.jdt.ui.prefs -text
b00__1/model-euml/ArgoUML[!!-~]Model[!!-~]all[!!-~]tests[!!-~]with[!!-~]eUML[!!-~]b00__1.launch -text
b00__1/model-euml/ArgoUML[!!-~]UML2-EUML[!!-~]debug[!!-~]b00__1.launch -text
b00__1/model-euml/META-INF/MANIFEST.MF -text
b00__1/model-euml/build.bat -text
b00__1/model-euml/build.xml -text
b00__1/model-euml/build2.bat -text
b00__1/model-euml/lib/org.eclipse.emf.common_2.3.0.v200703080200.jar -text
b00__1/model-euml/lib/org.eclipse.emf.ecore.xmi_2.3.0.v200703080200.jar -text
b00__1/model-euml/lib/org.eclipse.emf.ecore_2.3.0.v200703080200.jar -text
b00__1/model-euml/lib/org.eclipse.uml2.common_1.3.0.v200703011358.jar -text
b00__1/model-euml/lib/org.eclipse.uml2.uml_2.1.0.v200703011358.jar -text
b00__1/model-euml/src/manifest.mf -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/0README.TXT -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/Infrastructure.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L0.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L0.merged.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L1.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L1.merged.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L2.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L2.merged.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L3.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/L3.merged.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/LM.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/LM.merged.cmof -text
b00__1/model-euml/src/org/argouml/model/metamodels/uml211/Superstructure.cmof -text
maurelio1234/examples/javabeans/.classpath -text
maurelio1234/examples/javabeans/.project -text
maurelio1234/examples/javabeans/.settings/org.eclipse.jdt.ui.prefs -text
maurelio1234/examples/javabeans/ArgoUML[!!-~]sequence.launch -text
maurelio1234/examples/javabeans/www/index.html -text
maurelio1234/src_new/bin/ArgoUML.ico -text
maurelio1234/src_new/ext/javabeans.jar -text
maurelio1234/src_new/org/argouml/Images/Abstraction.gif -text
maurelio1234/src_new/org/argouml/Images/ActionExpression.gif -text
maurelio1234/src_new/org/argouml/Images/ActionSequence.gif -text
maurelio1234/src_new/org/argouml/Images/ActionState.gif -text
maurelio1234/src_new/org/argouml/Images/Activity.gif -text
maurelio1234/src_new/org/argouml/Images/ActivityDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/ActivityGraph.gif -text
maurelio1234/src_new/org/argouml/Images/Actor.gif -text
maurelio1234/src_new/org/argouml/Images/Add.gif -text
maurelio1234/src_new/org/argouml/Images/AddAttribute.gif -text
maurelio1234/src_new/org/argouml/Images/AddInternalTransition.gif -text
maurelio1234/src_new/org/argouml/Images/AddMessage.gif -text
maurelio1234/src_new/org/argouml/Images/AddOperation.gif -text
maurelio1234/src_new/org/argouml/Images/ArgoIcon.gif -text
maurelio1234/src_new/org/argouml/Images/Argument.gif -text
maurelio1234/src_new/org/argouml/Images/Association.gif -text
maurelio1234/src_new/org/argouml/Images/AssociationClass.gif -text
maurelio1234/src_new/org/argouml/Images/AssociationEnd.gif -text
maurelio1234/src_new/org/argouml/Images/AssociationEndRole.gif -text
maurelio1234/src_new/org/argouml/Images/AssociationInverse.gif -text
maurelio1234/src_new/org/argouml/Images/AssociationRole.gif -text
maurelio1234/src_new/org/argouml/Images/Asynchronous.gif -text
maurelio1234/src_new/org/argouml/Images/Attribute.gif -text
maurelio1234/src_new/org/argouml/Images/BooleanExpression.gif -text
maurelio1234/src_new/org/argouml/Images/Branch.gif -text
maurelio1234/src_new/org/argouml/Images/Broom.gif -text
maurelio1234/src_new/org/argouml/Images/CallAction.gif -text
maurelio1234/src_new/org/argouml/Images/CallEvent.gif -text
maurelio1234/src_new/org/argouml/Images/CallState.gif -text
maurelio1234/src_new/org/argouml/Images/ChangeEvent.gif -text
maurelio1234/src_new/org/argouml/Images/Choice.gif -text
maurelio1234/src_new/org/argouml/Images/Circle.gif -text
maurelio1234/src_new/org/argouml/Images/Class.gif -text
maurelio1234/src_new/org/argouml/Images/ClassDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/ClassifierInState.gif -text
maurelio1234/src_new/org/argouml/Images/ClassifierRole.gif -text
maurelio1234/src_new/org/argouml/Images/Collaboration.gif -text
maurelio1234/src_new/org/argouml/Images/CollaborationDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/ComboNav.gif -text
maurelio1234/src_new/org/argouml/Images/Comment.gif -text
maurelio1234/src_new/org/argouml/Images/CommentLink.gif -text
maurelio1234/src_new/org/argouml/Images/Communication.gif -text
maurelio1234/src_new/org/argouml/Images/Component.gif -text
maurelio1234/src_new/org/argouml/Images/ComponentInstance.gif -text
maurelio1234/src_new/org/argouml/Images/CompositeAggregation.gif -text
maurelio1234/src_new/org/argouml/Images/CompositeState.gif -text
maurelio1234/src_new/org/argouml/Images/ConfigurePerspectives.gif -text
maurelio1234/src_new/org/argouml/Images/Constraint.gif -text
maurelio1234/src_new/org/argouml/Images/CreateAction.gif -text
maurelio1234/src_new/org/argouml/Images/DataType.gif -text
maurelio1234/src_new/org/argouml/Images/Decision.gif -text
maurelio1234/src_new/org/argouml/Images/DeepHistory.gif -text
maurelio1234/src_new/org/argouml/Images/Dependency.gif -text
maurelio1234/src_new/org/argouml/Images/DependencyRight.gif -text
maurelio1234/src_new/org/argouml/Images/DeploymentDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/DestroyAction.gif -text
maurelio1234/src_new/org/argouml/Images/DistributeHorizontalCenters.gif -text
maurelio1234/src_new/org/argouml/Images/DistributeHorizontalSpacing.gif -text
maurelio1234/src_new/org/argouml/Images/DistributeVerticalCenters.gif -text
maurelio1234/src_new/org/argouml/Images/DistributeVerticalSpacing.gif -text
maurelio1234/src_new/org/argouml/Images/ElementImport.gif -text
maurelio1234/src_new/org/argouml/Images/ElementResidence.gif -text
maurelio1234/src_new/org/argouml/Images/Enumeration.gif -text
maurelio1234/src_new/org/argouml/Images/EnumerationLiteral.gif -text
maurelio1234/src_new/org/argouml/Images/Event.gif -text
maurelio1234/src_new/org/argouml/Images/Exception.gif -text
maurelio1234/src_new/org/argouml/Images/Expression.gif -text
maurelio1234/src_new/org/argouml/Images/Extend.gif -text
maurelio1234/src_new/org/argouml/Images/Extends.gif -text
maurelio1234/src_new/org/argouml/Images/ExtensionPoint.gif -text
maurelio1234/src_new/org/argouml/Images/Favorites.gif -text
maurelio1234/src_new/org/argouml/Images/FinalState.gif -text
maurelio1234/src_new/org/argouml/Images/Find.gif -text
maurelio1234/src_new/org/argouml/Images/FixItBack.gif -text
maurelio1234/src_new/org/argouml/Images/FixItFinish.gif -text
maurelio1234/src_new/org/argouml/Images/FixItNext.gif -text
maurelio1234/src_new/org/argouml/Images/Flat.gif -text
maurelio1234/src_new/org/argouml/Images/Flow.gif -text
maurelio1234/src_new/org/argouml/Images/Fork.gif -text
maurelio1234/src_new/org/argouml/Images/Generalization.gif -text
maurelio1234/src_new/org/argouml/Images/Guard.gif -text
maurelio1234/src_new/org/argouml/Images/Hierarchical.gif -text
maurelio1234/src_new/org/argouml/Images/Hush.gif -text
maurelio1234/src_new/org/argouml/Images/HushCritic.gif -text
maurelio1234/src_new/org/argouml/Images/Importsources.gif -text
maurelio1234/src_new/org/argouml/Images/Include.gif -text
maurelio1234/src_new/org/argouml/Images/Inheritance.gif -text
maurelio1234/src_new/org/argouml/Images/InheritanceInverse.gif -text
maurelio1234/src_new/org/argouml/Images/Initial.gif -text
maurelio1234/src_new/org/argouml/Images/InnerClass.gif -text
maurelio1234/src_new/org/argouml/Images/InputOutput.gif -text
maurelio1234/src_new/org/argouml/Images/Instance.gif -text
maurelio1234/src_new/org/argouml/Images/Interaction.gif -text
maurelio1234/src_new/org/argouml/Images/Interface.gif -text
maurelio1234/src_new/org/argouml/Images/InternalTransition.gif -text
maurelio1234/src_new/org/argouml/Images/IterationExpression.gif -text
maurelio1234/src_new/org/argouml/Images/JavaNotation.gif -text
maurelio1234/src_new/org/argouml/Images/Join.gif -text
maurelio1234/src_new/org/argouml/Images/Junction.gif -text
maurelio1234/src_new/org/argouml/Images/Line.gif -text
maurelio1234/src_new/org/argouml/Images/Link.gif -text
maurelio1234/src_new/org/argouml/Images/LinkEnd.gif -text
maurelio1234/src_new/org/argouml/Images/Message.gif -text
maurelio1234/src_new/org/argouml/Images/Method.gif -text
maurelio1234/src_new/org/argouml/Images/Model.gif -text
maurelio1234/src_new/org/argouml/Images/Multiplicity.gif -text
maurelio1234/src_new/org/argouml/Images/Multtrigger.gif -text
maurelio1234/src_new/org/argouml/Images/NavigateBack.gif -text
maurelio1234/src_new/org/argouml/Images/NavigateForward.gif -text
maurelio1234/src_new/org/argouml/Images/NavigateUp.gif -text
maurelio1234/src_new/org/argouml/Images/NavigateUpNext.gif -text
maurelio1234/src_new/org/argouml/Images/NavigateUpPrevious.gif -text
maurelio1234/src_new/org/argouml/Images/NewExtensionPoint.gif -text
maurelio1234/src_new/org/argouml/Images/NewParameter.gif -text
maurelio1234/src_new/org/argouml/Images/NewPerspective.gif -text
maurelio1234/src_new/org/argouml/Images/NewReception.gif -text
maurelio1234/src_new/org/argouml/Images/NewToDoItem.gif -text
maurelio1234/src_new/org/argouml/Images/Node.gif -text
maurelio1234/src_new/org/argouml/Images/NodeInstance.gif -text
maurelio1234/src_new/org/argouml/Images/NodeOne.gif -text
maurelio1234/src_new/org/argouml/Images/NodeTwo.gif -text
maurelio1234/src_new/org/argouml/Images/Note.gif -text
maurelio1234/src_new/org/argouml/Images/NudgeDown.gif -text
maurelio1234/src_new/org/argouml/Images/NudgeLeft.gif -text
maurelio1234/src_new/org/argouml/Images/NudgeRight.gif -text
maurelio1234/src_new/org/argouml/Images/NudgeUp.gif -text
maurelio1234/src_new/org/argouml/Images/ObjDelete.gif -text
maurelio1234/src_new/org/argouml/Images/Object.gif -text
maurelio1234/src_new/org/argouml/Images/ObjectFlowState.gif -text
maurelio1234/src_new/org/argouml/Images/OpenProject.gif -text
maurelio1234/src_new/org/argouml/Images/Operation.gif -text
maurelio1234/src_new/org/argouml/Images/Package.gif -text
maurelio1234/src_new/org/argouml/Images/ParallelTransition.gif -text
maurelio1234/src_new/org/argouml/Images/Parameter.gif -text
maurelio1234/src_new/org/argouml/Images/Partition.gif -text
maurelio1234/src_new/org/argouml/Images/Pattern.gif -text
maurelio1234/src_new/org/argouml/Images/Permission.gif -text
maurelio1234/src_new/org/argouml/Images/Polygon.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt0.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt100.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt25.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt50.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt75.gif -text
maurelio1234/src_new/org/argouml/Images/PostIt99.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD0.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD100.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD25.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD50.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD75.gif -text
maurelio1234/src_new/org/argouml/Images/PostItD99.gif -text
maurelio1234/src_new/org/argouml/Images/PostItMulti.gif -text
maurelio1234/src_new/org/argouml/Images/ProcedureExpression.gif -text
maurelio1234/src_new/org/argouml/Images/Project.gif -text
maurelio1234/src_new/org/argouml/Images/RRect.gif -text
maurelio1234/src_new/org/argouml/Images/Realization.gif -text
maurelio1234/src_new/org/argouml/Images/Reception.gif -text
maurelio1234/src_new/org/argouml/Images/Rectangle.gif -text
maurelio1234/src_new/org/argouml/Images/Recursion.gif -text
maurelio1234/src_new/org/argouml/Images/RedDelete.gif -text
maurelio1234/src_new/org/argouml/Images/Refinement.gif -text
maurelio1234/src_new/org/argouml/Images/ResolveItem.gif -text
maurelio1234/src_new/org/argouml/Images/RetMessage.gif -text
maurelio1234/src_new/org/argouml/Images/ReturnAction.gif -text
maurelio1234/src_new/org/argouml/Images/SaveProject.gif -text
maurelio1234/src_new/org/argouml/Images/Select.gif -text
maurelio1234/src_new/org/argouml/Images/SelfAssociation.gif -text
maurelio1234/src_new/org/argouml/Images/Self_del.gif -text
maurelio1234/src_new/org/argouml/Images/SendAction.gif -text
maurelio1234/src_new/org/argouml/Images/SendEmailToExpert.gif -text
maurelio1234/src_new/org/argouml/Images/SequenceContract.gif -text
maurelio1234/src_new/org/argouml/Images/SequenceDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/SequenceExpand.gif -text
maurelio1234/src_new/org/argouml/Images/ShallowHistory.gif -text
maurelio1234/src_new/org/argouml/Images/Signal.gif -text
maurelio1234/src_new/org/argouml/Images/SignalEvent.gif -text
maurelio1234/src_new/org/argouml/Images/SignalReceiving.gif -text
maurelio1234/src_new/org/argouml/Images/SignalSending.gif -text
maurelio1234/src_new/org/argouml/Images/SimpleState.gif -text
maurelio1234/src_new/org/argouml/Images/SnoozeCritic.gif -text
maurelio1234/src_new/org/argouml/Images/Splash.png -text
maurelio1234/src_new/org/argouml/Images/Spline.gif -text
maurelio1234/src_new/org/argouml/Images/Start.gif -text
maurelio1234/src_new/org/argouml/Images/State.gif -text
maurelio1234/src_new/org/argouml/Images/StateDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/StateMachine.gif -text
maurelio1234/src_new/org/argouml/Images/Stereotype.gif -text
maurelio1234/src_new/org/argouml/Images/Stimulus.gif -text
maurelio1234/src_new/org/argouml/Images/StimulusCall.gif -text
maurelio1234/src_new/org/argouml/Images/StimulusCreate.gif -text
maurelio1234/src_new/org/argouml/Images/StimulusDestroy.gif -text
maurelio1234/src_new/org/argouml/Images/StimulusReturn.gif -text
maurelio1234/src_new/org/argouml/Images/StimulusSend.gif -text
maurelio1234/src_new/org/argouml/Images/StubState.gif -text
maurelio1234/src_new/org/argouml/Images/SubactivityState.gif -text
maurelio1234/src_new/org/argouml/Images/SubmachineState.gif -text
maurelio1234/src_new/org/argouml/Images/Subsystem.gif -text
maurelio1234/src_new/org/argouml/Images/SynchState.gif -text
maurelio1234/src_new/org/argouml/Images/Synchronous.gif -text
maurelio1234/src_new/org/argouml/Images/TagDefinition.gif -text
maurelio1234/src_new/org/argouml/Images/TaggedValue.gif -text
maurelio1234/src_new/org/argouml/Images/TerminateAction.gif -text
maurelio1234/src_new/org/argouml/Images/Text.gif -text
maurelio1234/src_new/org/argouml/Images/TimeEvent.gif -text
maurelio1234/src_new/org/argouml/Images/TimeExpression.gif -text
maurelio1234/src_new/org/argouml/Images/ToBack.gif -text
maurelio1234/src_new/org/argouml/Images/ToFront.gif -text
maurelio1234/src_new/org/argouml/Images/Trace.gif -text
maurelio1234/src_new/org/argouml/Images/Transition.gif -text
maurelio1234/src_new/org/argouml/Images/TransitionDown.gif -text
maurelio1234/src_new/org/argouml/Images/Trigger.gif -text
maurelio1234/src_new/org/argouml/Images/UmlNotation.gif -text
maurelio1234/src_new/org/argouml/Images/UninterpretedAction.gif -text
maurelio1234/src_new/org/argouml/Images/Usage.gif -text
maurelio1234/src_new/org/argouml/Images/UseCase.gif -text
maurelio1234/src_new/org/argouml/Images/UseCaseDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/Uses.gif -text
maurelio1234/src_new/org/argouml/Images/Wiz.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/NavConfig.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/ActivityDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/ClassDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/CollaborationDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/DeploymentDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/Diagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/SequenceDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/StateDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/diagrams/UseCaseDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Aggregation.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Association.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Class.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Composition.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Dependency.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/DropDown.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Generalization.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Interface.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/NewAttribute.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/NewNote.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/NewOperation.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Package.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Permission.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Realization.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/UniAggregation.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/UniAssociation.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/UniComposition.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/argouml/elements/Usage.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/AboutArgoUML.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/AddConcurrentRegion.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Copy.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Cut.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Delete.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/DeleteConcurrentRegion.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/DeleteFromDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/DeleteFromModel.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Find.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/ImportSources.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/New.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/OpenProject.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/PageSetup.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Paste.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Print.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Properties.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Redo.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/RemoveFromDiagram.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/SaveProject.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/SaveProjectAs.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Settings.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/SystemInformation.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/Undo.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/ZoomIn.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/ZoomOut.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/general/ZoomReset.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/navigation/NavigateBack.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/navigation/NavigateForward.gif -text
maurelio1234/src_new/org/argouml/Images/plaf/javax/swing/plaf/metal/MetalLookAndFeel/toolbarButtonGraphics/navigation/NavigateUp.gif -text
maurelio1234/src_new/org/argouml/default-cpp.xmi -text
maurelio1234/src_new/org/argouml/default-java.xmi -text
maurelio1234/src_new/org/argouml/default-uml14.xmi -text
maurelio1234/src_new/org/argouml/doc-files/argologo-small.gif -text
maurelio1234/src_new/org/argouml/doc-files/argologo2.gif -text
maurelio1234/src_new/org/argouml/resource/default.lcf -text
maurelio1234/src_new/org/argouml/resource/default_console.lcf -text
maurelio1234/src_new/org/argouml/resource/info_console.lcf -text
maurelio1234/tests/.settings/de.mvmsoft.checkclipse.prefs -text
maurelio1234/tests/Model[!!-~]all[!!-~]tests.launch -text
maurelio1234/tests/org/argouml/notation/providers/uml/TestCallStateNotationUml.java -text
maurelio1234/tests/org/argouml/uml/profile/TestProfileConfiguration1.java -text
maurelio1234/tests/org/argouml/uml/profile/TestProfileConfiguration2.java -text
maurelio1234/tests/org/argouml/uml/profile/TestProfileManagerImpl.java -text
maurelio1234/tests/testmodels/uml13/Alittlebitofeverything.zargo -text
maurelio1234/tests/testmodels/uml13/Empty.zargo -text
maurelio1234/tests/testmodels/uml13/EmptyProject0161.zargo -text
maurelio1234/tests/testmodels/uml13/GUITestPropertyPanels.zargo -text
maurelio1234/tests/testmodels/uml13/Garbage.zargo -text
maurelio1234/tests/testmodels/uml14/Alittlebitofeverything.zargo -text
maurelio1234/tests/testmodels/uml14/EmptyProject024.zargo -text
maurelio1234/tests/testmodels/uml14/GUITestPropertyPanels.zargo -text
maurelio1234/tests/testmodels/uml14/SequenceDiagram.zargo -text
